#in-messages {
  position: fixed;
  right: 70px;
  bottom: 50px;
  z-index: 150;
}

#messengers-float-button {
  width: 50px;
  height: 50px;
  background: url("../img/color_phone.svg") #13c0e8;
  border-radius: 50%;
  z-index: 51;

  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;

  border: 0;

  transition-duration: 700ms;
}

phone-ring {
  transform: rotate(135deg);
}

#messengers-panel {
  position: absolute;
  height: 35px;
  overflow: hidden;
  width: 0;
  right: 49px;
  text-align: right;
  top: -42px;
  z-index: 60;
}

#messengers-panel #msg-te,
#messengers-panel #msg-wh,
#messengers-panel #msg-ca,
#messengers-panel #msg-li {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
}

#messengers-panel #msg-te {
  background: url("../img/color_telegram.svg");
}

#messengers-panel #msg-wh {
  background: url("../img/color_phone.svg");
}

#messengers-panel #msg-ca {
  background: url("../img/color_whatsapp.svg");
}

.transition {
  transition: all 0.8s ease-in-out 0s;
}

/* #in-messages.pos-left #messengers-panel-content {
  transform: translate(-100%, 0);
} */

.hidden-panel {
  transform: translateX(100%);
}

.rotatering-btn {
  transform: rotate(135deg);
}

.inmte::before,
.inmte::after {
  content: "";
  position: absolute;
  border: 1px solid #29aee3;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: pulse 1.8s linear infinite;
}
@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

.inmte::after {
  animation-delay: 0.5s;
}

.hidden-rings {
  content: "";
}
.hidden-rings::before,
.hidden-rings::after {
  border: 0px solid #29aee3;
}
